target/
target/doc/
!target/doc/
# Emacs working files
*~
.#*
#*#
/working/traces/2026-09-07-todo-b/1788742319127-23.cmd.json
/working/traces/2026-09-07-todo-b/1788742381321-32.cmd.json
/working/sessions/2026-09-07-todo-b/events.jsonl
